{% extends ('base.html.twig')%}
{% block body %}
	<div class="container">
		<h1>Results page</h1>
        {% if notAcceptable == false %}
		<p>Crawling
			<strong>{{url}}</strong>
			is finshed</p>
		{% if hasTitle !=0 %}
			<p>
				<strong>{{titles}}</strong>
				of your "a" tags has title.</p>
			<p>
				<strong>List of links with missing title tag:</strong>
			</p>
			<ul>
				{% for missingTitle in missingTitles %}
					<li>
						<a href="{{ missingTitle }}">{{ missingTitle }}</a>
					</li>
				{% endfor %}
			</ul>
		{% else %}
			<p>Your page has no links!</p>
		{% endif %}
		<h3>Meta description</h3>
		<p>{{metaDescription }}</p>
		<h3>Page title</h3>
		<p>{{titleLength}}</p>
		{% if hasImages !=0 %}
			<p>
				<strong>{{missingAlts}}</strong>
				of your "image" tags has alt tag.</p>
			<p>
				<strong>Images with missing alt tags:</strong>
			</p>
			{% if missingAlts != "100 %" %}
				<div class="row">
					{% for imagesWitNoAltTag in imagesWitNoAltTags %}
						<img src="{{ imagesWitNoAltTag }}" style="width:200px;height:200px">
					{% endfor %}
				</div>
			{% else %}
				<p>All your images has alt tags.</p>
			{% endif %}

			<p>
				<strong>List of images with missing alt tag:</strong>
			</p>
			{% if missingAlts != "100 %" %}

				<ul>
					{% for imagesWitNoAltTag in imagesWitNoAltTags %}
						<li>
							<a href="{{ imagesWitNoAltTag }}">{{ imagesWitNoAltTag }}</a>
						</li>
					{% endfor %}
				</ul>
			{% else %}
				<p>Congratulation! No images to add alt tag.</p>
			{% endif %}
		{% else %}
			<p>Your page has no images</p>
		{% endif %}
	</div>
    {% else %}
    <p>Page couldn't be crawled. Error 406!</p>
    {% endif %}
{% endblock %}
