{% extends ('base.html.twig')%}
{% block body %}
<div class="m-4">
<div class="card">
  <div class="card-header text-center">
    <span class="text-success"><strong>RESULTS</strong></span>
  </div>
  <div class="card-body">
    <p class="card-text">Crawling <strong>{{url}}</strong> is finshed.</p> 
  </div>
</div>
{# Titles on <a> tag #}
<div class="card">
  <div class="card-header">
    <strong>Title tags</strong>
  </div>
  <div class="card-body">
  <p>List of links with missing titles tags</p>
    {% if hasTitle !=0 %}
	<p><strong>{{titles}}</strong> of your "a" tags has title.</p>
	<a class="btn btn-primary" data-toggle="collapse" href="#collapseLinks" role="button" aria-expanded="false" aria-controls="collapseLinks">Show links</a>
        <div class="collapse" id="collapseLinks">
          <div class="card card-body">
			<ul>
				{% for missingTitle in missingTitles %}
					<li>
						<a href="{{ missingTitle }}">{{ missingTitle }}</a>
					</li>
				{% endfor %}
			</ul>
		{% else %}
			<p>Your page has no links!</p>
		{% endif %} 
  </div>
</div>
</div>
{# Meta description #}
<div class="card">
  <div class="card-header">
    <strong>Meta description length</strong>
  </div>
  <div class="card-body">
  <p>Meta description</p>
  <p class="card-text">{{metaDescription }}</p>
  </div>
</div>				
{# Meta title #}
<div class="card">
  <div class="card-header">
    <strong>Meta title</strong>
  </div>
  <div class="card-body">
 <p>Page title</p>
 <p class="card-text">{{titleLength}}</p>
</div>
{# Images missing alt tag #}
<div class="card">
  <div class="card-header">
    <strong>Images</strong> 
  </div>
  <div class="card-body">
 <p>Images missing alt tag</p>
 {% if hasImages !=0 %}
	<p class="card-text"><strong>{{missingAlts}} </strong> of your "image" tags has alt tag.</p>
			{% if missingAlts != "100 %" %}
				<div class="row">
					{% for imagesWitNoAltTag in imagesWitNoAltTags %}
						<img src="{{ imagesWitNoAltTag }}" style="width:200px;height:200px">
					{% endfor %}
				</div>
			{% else %}
				<p class="card-text">All your images has alt tags.</p>
			{% endif %}
<h5>List of images with missing alt tag:</h5>
	<a class="btn btn-primary" data-toggle="collapse" href="#collapseImages" role="button" aria-expanded="false" aria-controls="collapseImages">Show links</a>
        <div class="collapse" id="collapseImages">
          <div class="card card-body">
			{% if missingAlts != "100 %" %}
				<ul>
					{% for imagesWitNoAltTag in imagesWitNoAltTags %}
						<li>
							<a href="{{ imagesWitNoAltTag }}">{{ imagesWitNoAltTag }}</a>
						</li>
					{% endfor %}
				</ul>
			{% else %}
				<p >Congratulations! No images to add alt tag.</p>
			{% endif %}
		{% else %}
			<p >Your page has no images</p>
	{% endif %}
	        </div>
		</div>
</div>
{# Headings #}
<div class="card">
  <div class="card-header">
    <strong>Headings</strong>
  </div>
  <div class="card-body">
	<table class="table">
    <thead>
      <tr>
        <th>H1</th>
        <th>H2</th>
        <th>H3</th>
		<th>H4</th>
		<th>H5</th>
		<th>H6</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{h1}}</td>
        <td>{{h2}}</td>
		<td>{{h3}}</td>
		<td>{{h4}}</td>
		<td>{{h5}}</td>
		<td>{{h6}}</td>
      </tr>
          
    </tbody>
  </table>
  </div>
</div>
{# Broken Links #}
<div class="card">
  <div class="card-header">
    <strong>Broken Links</strong>
  </div>
  <div class="card-body">
{% if brokenLinks is iterable %}
    {% for brokenLink in brokenLinks %}
        <ul>
		<li href="{{brokenLink}}"><a> {{ brokenLink }}</a><li>
		</ul>
    {% endfor %}
    {% else %}
    <p> {{ brokenLinks }}</p>
    {% endif %}
  </div>
</div>
{# Number of request #}
<div class="card">
  <div class="card-header">
    <strong>Number of request</strong>
  </div>
  <div class="card-body">
  <p>Total number of requests: <span id="requests"></span> </p>
</div>
{# First Paint #}
<div class="card">
  <div class="card-header">
    <strong>First paint</strong>
  </div>
  <div class="card-body">
  <p>Time to first paint: <span id="firstPaint"></span> s </p>
</div>
</div>

<script>
var  totalNoOfRequests = window.performance.getEntries().length;
var start = window.performance.getEntriesByType("navigation")[0].requestStart
var end = window.performance.getEntriesByType("navigation")[0].responseEnd
var loadTime = (end - start) / 1000
var pageNav = performance.getEntriesByType("navigation")[0];
var dnsTime = (pageNav.domainLookupEnd - pageNav.domainLookupStart) / 1000;
var timeToFirstPaint = window.performance.getEntriesByType("paint")[0].startTime / 1000;
document.getElementById("requests").innerHTML = totalNoOfRequests;
document.getElementById("firstPaint").innerHTML = timeToFirstPaint;

console.log(timeToFirstPaint);
</script>

{% endblock %}
