{% extends ('base.html.twig')%}
{% block body %}
<div class="m-4">
<div class="card">
  <div class="card-header">
    Results
  </div>
  <div class="card-body">
    <p class="card-text">Crawling <strong>{{url}}</strong> is finshed.</p> 
  </div>
</div>
{# Titles on <a> tag #}
<div class="card">
  <div class="card-header">
    Title tags
  </div>
  <div class="card-body">
  <h5>List of links with missing titles tags</h5>
    {% if hasTitle !=0 %}
	<p><strong>{{titles}}</strong> of your "a" tags has title.</p>
	<a class="btn btn-primary" data-toggle="collapse" href="#collapseLinks" role="button" aria-expanded="false" aria-controls="collapseLinks">Show links</a>
        <div class="collapse" id="collapseLinks">
          <div class="card card-body">
			<ul>
				{% for missingTitle in missingTitles %}
					<li>
						<a href="{{ missingTitle }}">{{ missingTitle }}</a>
					</li>
				{% endfor %}
			</ul>
		{% else %}
			<p>Your page has no links!</p>
		{% endif %} 
  </div>
</div>
</div>
{# Meta description #}
<div class="card">
  <div class="card-header">
    Meta description length
  </div>
  <div class="card-body">
  <h5>Meta description</h5>
  <p class="card-text">{{metaDescription }}</p>
  </div>
</div>				
{# Meta title #}
<div class="card">
  <div class="card-header">
    Meta title
  </div>
  <div class="card-body">
 <h5>Page title</h5>
 <p class="card-text">{{titleLength}}</p>
</div>
{# Images missing alt tag #}
<div class="card">
  <div class="card-header">
    Images 
  </div>
  <div class="card-body">
 <h5>Images missing alt tag</h5>
 {% if hasImages !=0 %}
	<p class="card-text"><strong>{{missingAlts}} </strong> of your "image" tags has alt tag.</p>
			{% if missingAlts != "100 %" %}
				<div class="row">
					{% for imagesWitNoAltTag in imagesWitNoAltTags %}
						<img src="{{ imagesWitNoAltTag }}" style="width:200px;height:200px">
					{% endfor %}
				</div>
			{% else %}
				<p class="card-text">All your images has alt tags.</p>
			{% endif %}
<h5>List of images with missing alt tag:</h5>
	<a class="btn btn-primary" data-toggle="collapse" href="#collapseImages" role="button" aria-expanded="false" aria-controls="collapseImages">Show links</a>
        <div class="collapse" id="collapseImages">
          <div class="card card-body">
			{% if missingAlts != "100 %" %}
				<ul>
					{% for imagesWitNoAltTag in imagesWitNoAltTags %}
						<li>
							<a href="{{ imagesWitNoAltTag }}">{{ imagesWitNoAltTag }}</a>
						</li>
					{% endfor %}
				</ul>
			{% else %}
				<p >Congratulation! No images to add alt tag.</p>
			{% endif %}
		{% else %}
			<p >Your page has no images</p>
	{% endif %}
	        </div>
		</div>
</div>
{# Headings #}
<div class="card">
  <div class="card-header">
    Headings
  </div>
  <div class="card-body">
	<table class="table">
    <thead>
      <tr>
        <th>H1</th>
        <th>H2</th>
        <th>H3</th>
		<th>H4</th>
		<th>H5</th>
		<th>H6</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{h1}}</td>
        <td>{{h2}}</td>
		<td>{{h3}}</td>
		<td>{{h4}}</td>
		<td>{{h5}}</td>
		<td>{{h6}}</td>
      </tr>
          
    </tbody>
  </table>
  </div>
</div>
{# Broken Links #}
<div class="card">
  <div class="card-header">
    Broken Links
  </div>
  <div class="card-body">
{% if brokenLinks is iterable %}
    {% for brokenLink in brokenLinks %}
        <ul>
		<li href="{{brokenLink}}"><a> {{ brokenLink }}</a><li>
		</ul>
    {% endfor %}
    {% else %}
    <p> {{ brokenLinks }}</p>
    {% endif %}
  </div>
</div>
</div>
{% endblock %}
